html{
    text-align: center;
}
.title{
    margin-top: 0px;
    border-radius: 20px;
    color:white;
    background-color:greenyellow;
    font-size: 70px;
}
.search{
    width: 300px;
    padding: 10px;
    border-radius: 10px ;
    border: 2px solid greenyellow;
}